function Main.main 0
push constant 100
push constant 100
call Screen.drawPixel 2
pop temp 0
push constant 100
push constant 101
call Screen.drawPixel 2
pop temp 0
push constant 100
push constant 102
call Screen.drawPixel 2
pop temp 0
push constant 100
push constant 104
call Screen.drawPixel 2
pop temp 0
push constant 110
push constant 110
push constant 110
push constant 200
call Screen.drawLine 4
pop temp 0
push constant 110
push constant 220
push constant 110
push constant 254
call Screen.drawLine 4
pop temp 0
push constant 120
push constant 110
push constant 120
push constant 210
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 200
push constant 100
push constant 200
call Screen.drawLine 4
pop temp 0
push constant 0
return
