function Screen.init 0
push constant 0
return
function Screen.clearScreen 0
push constant 0
return
function Screen.setColor 0
push constant 0
return
function Screen.drawPixel 4
push constant 16384
push argument 0
push constant 32
call Math.multiply 2
add
push argument 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push argument 1
push argument 1
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
sub
pop local 2
push constant 1
pop local 3
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 3
push constant 2
call Math.multiply 2
pop local 3
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 1
push local 3
not
and
push local 3
add
pop local 1
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 5
push constant 0
pop local 0
push constant 0
pop local 1
push argument 2
push argument 0
sub
pop local 2
push argument 3
push argument 1
sub
pop local 3
label WHILE_EXP0
push local 0
push local 2
gt
not
push local 1
push local 3
gt
not
and
not
if-goto WHILE_END0
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 0
push local 3
call Math.multiply 2
push local 1
push local 2
call Math.multiply 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
goto IF_END0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawRectangle 0
push constant 0
return
function Screen.drawCircle 0
push constant 0
return
